* {
    box-sizing: border-box;
}

table {
    width: 100%;
    border: 3px dashed;
    border-color: red;
}

h1 {
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

td {
    text-align: center;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: rgb(184, 184, 184);
}